/* ==============================
   ESTILOS GENERALES
============================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(135deg,#0F4C81,#1E88E5,#64B5F6);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

    font-family:'Segoe UI',sans-serif;

}

/* ==============================
   TARJETA
============================== */

.card-system{

    width:100%;

    max-width:450px;

    border:none;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

/* ==============================
   CABECERA
============================== */

.card-header-system{

    background:#0D47A1;

    color:white;

    text-align:center;

    padding:30px;

}

.logo-system{

    font-size:60px;

}

/* ==============================
   CUERPO
============================== */

.card-body{

    background:white;

}

.form-control{

    height:50px;

    border-radius:10px;

}

.form-control:focus{

    border-color:#1E88E5;

    box-shadow:0 0 10px rgba(30,136,229,.3);

}

/* ==============================
   BOTÓN
============================== */

.btn-system{

    height:50px;

    border-radius:10px;

    font-weight:bold;

    font-size:17px;

}

/* ==============================
   FOOTER
============================== */

.card-footer{

    background:#f8f9fa;

    text-align:center;

    padding:20px;

}

/* ==============================
   LINKS
============================== */

a{

    text-decoration:none;

}

/*=============================
        DASHBOARD
==============================*/

.dashboard-card{

    border:0;

    border-radius:18px;

    transition:.35s;

    background:#FFFFFF;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    height:100%;

}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(15,76,129,.20);

}

.icono{

    font-size:65px;

    color:var(--azul-principal);

    margin-bottom:20px;

}